In [1]:
# 날씨 데이터 가져오기
import pandas as pd
OBS_ASOS_TIM_20240726134014 = pd.read_csv('OBS_ASOS_TIM_20240726134014.csv', encoding='euc-kr')
OBS_ASOS_TIM_20240726134014.head()

    지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  108  서울  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  108  서울  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  108  서울  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  108  서울  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  108  서울  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [2]:
# 교통사고 데이터 가져오기
도로교통공단_사망교통사고정보_2020 = pd.read_csv('도로교통공단_사망교통사고정보_2020.csv', encoding='euc-kr')
도로교통공단_사망교통사고정보_2020.head()

,발생년,발생년월일시,주야,요일,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생지시도,...,사고유형,가해자법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2020,2020-01-01 05,야,수,1,0,0,0,0,서울,...,차도통행중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,959928.0,1943154.0,127.046727,37.486761
1,2020,2020-01-01 05,야,수,1,0,0,0,0,경기,...,추돌,안전운전 의무 불이행,단일로,기타단일로,승용차,화물차,951237.0,1916995.0,126.950147,37.250560
2,2020,2020-01-01 07,주,수,1,0,0,0,0,충남,...,횡단중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,967688.0,1869920.0,127.137666,36.826933
3,2020,2020-01-01 10,주,수,1,0,0,0,0,경남,...,공작물충돌,안전운전 의무 불이행,단일로,기타단일로,화물차,없음,1038413.0,1748968.0,127.924796,35.736290
4,2020,2020-01-01 11,주,수,1,0,0,0,0,경기,...,도로이탈 추락,안전운전 의무 불이행,단일로,기타단일로,농기계,없음,1011197.0,1900537.0,127.626014,37.103415

In [3]:
# 필요한 차원 데이터 셋으로 저장하기-날씨 데이터
weather_2020 = OBS_ASOS_TIM_20240726134014.drop(['지점','지점명'], axis=1)
weather_2020.head()

                 일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [4]:
# 필요한 차원 데이터 셋으로 저장하기-날씨 데이터
weather_2020.rename(columns={'일시':'년월일시'}, inplace=True)
weather_2020.head()
weather_2020.to_csv('weather_2020.csv', index=False)

In [5]:
weather_2020= pd.read_csv('weather_2020.csv')
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [6]:
# 필요한 차원 데이터 셋으로 저장하기-교통사고 데이터
trafficAccident_2020_seoul = 도로교통공단_사망교통사고정보_2020[['발생년월일시','사망자수']]
trafficAccident_2020_seoul

             발생년월일시  사망자수
0     2020-01-01 05     1
1     2020-01-01 05     1
2     2020-01-01 07     1
3     2020-01-01 10     1
4     2020-01-01 11     1
...             ...   ...
2978  2020-12-31 11     1
2979  2020-12-31 18     1
2980  2020-12-31 19     1
2981  2020-12-31 21     1
2982  2020-12-31 21     1

[2983 rows x 2 columns]

In [7]:
trafficAccident_2020_seoul.to_csv('trafficAccident_2020_seoul.csv', index=False)

In [8]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

In [9]:
# 교통사고 데이터 셋 전처리
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

In [11]:
trafficAccident_2020_seoul['발생년월일시']=trafficAccident_2020_seoul['발생년월일시'].apply(lambda x: 
pd.to_datetime(str(x), format='%Y-%m-%d %H'))
trafficAccident_2020_seoul.head()
trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor(
'H')
trafficAccident_2020_seoul.head()
trafficAccident_2020_seoul.rename(columns={'발생년월일시':'년월일시'}, inplace=True)
trafficAccident_2020_seoul.head()
trafficAccident_2020_seoul.set_index(trafficAccident_2020_seoul['년월일시'], inplace=True)
trafficAccident_2020_seoul.head()
trafficAccident_2020_seoul.drop('년월일시', axis=1)
trafficAccident_2020_seoul.head()

C:\Users\10315\AppData\Local\Temp\ipykernel_25220\290046809.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor(

                                   년월일시  사망자수
년월일시
2020-01-01 05:00:00 2020-01-01 05:00:00     1
2020-01-01 05:00:00 2020-01-01 05:00:00     1
2020-01-01 07:00:00 2020-01-01 07:00:00     1
2020-01-01 10:00:00 2020-01-01 10:00:00     1
2020-01-01 11:00:00 2020-01-01 11:00:00     1

In [12]:
# 데이터 가공
import numpy as np
trafficAccident_2020_seoul=trafficAccident_2020_seoul.resample('H').apply({'사망자수':np.sum}, axis=1).fillna(0)
trafficAccident_2020_seoul.head()

C:\Users\10315\AppData\Local\Temp\ipykernel_25220\3779137416.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  trafficAccident_2020_seoul=trafficAccident_2020_seoul.resample('H').apply({'사망자수':np.sum}, axis=1).fillna(0)
C:\Users\10315\AppData\Local\Temp\ipykernel_25220\3779137416.py:3: FutureWarning: The provided callable <function sum at 0x0000027D7FDC3250> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  trafficAccident_2020_seoul=trafficAccident_2020_seoul.resample('H').apply({'사망자수':np.sum}, axis=1).fillna(0)

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [13]:
# 데이터 준비
weather_2020.head()
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [14]:
preparation_data=pd.merge(weather_2020,trafficAccident_2020_seoul,how='outer',left_index=True,
right_index=True)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      NaN      1.7   40.0     NaN   NaN
1  2020-01-01 02:00    -5.7      NaN      0.1   42.0     NaN   NaN
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     NaN   NaN
3  2020-01-01 04:00    -5.4      NaN      0.0   50.0     NaN   NaN
4  2020-01-01 05:00    -5.2      NaN      0.0   55.0     NaN   NaN

In [15]:
preparation_data=preparation_data.fillna(0)
preparation_data.head()
preparation_data['사망자수']=preparation_data['사망자수'].astype(int)
preparation_data.head()
preparation_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8801 entries, 0 to 2020-12-31 21:00:00
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월일시     8801 non-null   object
 1   기온(°C)   8801 non-null   float64
 2   강수량(mm)  8801 non-null   float64
 3   풍속(m/s)  8801 non-null   float64
 4   습도(%)    8801 non-null   float64
 5   적설(cm)   8801 non-null   float64
 6   사망자수     8801 non-null   int32
dtypes: float64(5), int32(1), object(1)
memory usage: 515.7+ KB

In [17]:
preparation_data.to_csv('preparation_data.csv', index=False)
import os
os.getcwd()
# os.chdir('')
os.listdir()

['.ipynb_checkpoints',
 '03.jpg',
 '112428665_d8f3632f36_n.jpg',
 '240719_이연진.ipynb',
 '6.2.EDA.ipynb',
 '6.3.preprocess.ipynb',
 '6.4.seq2seq.ipynb',
 '6.5.transformer.ipynb',
 'Backpropagation.ipynb',
 'cartpole_by_DQN.h5',
 'chatbot',
 'ChatGPT_API_Note (1).py',
 'ChatGPT_API_Note.py',
 'D1-『1과목』-1.ipynb',
 'D1-『1과목』-2.ipynb',
 'D1-『1과목』-2_Classification.ipynb',
 'D1-『1과목』-2_Ensemble_and_RandomForests.ipynb',
 'D1-『1과목』-2_SVM.ipynb',
 'D1-『1과목』-2_Training_Models.ipynb',
 'D10-『6과목』-2.ipynb',
 'D2-『2과목』-1.ipynb',
 'D2-『2과목』-2.ipynb',
 'D2-『2과목』-2_PyTorch tutorial.ipynb',
 'D3-『2과목』-3.ipynb',
 'D3-『2과목』-4-YOLOv8.ipynb',
 'D3-『2과목』-4.ipynb',
 'D4-『2과목』-5.ipynb',
 'D4-『2과목』-6.ipynb',
 'D5-『3과목』-1.ipynb',
 'D5-『3과목』-2.ipynb',
 'D5_『3과목』_2.ipynb',
 'D6-『4과목』-1.ipynb',
 'D6_『4과목』_1.ipynb',
 'D6_『4과목』_1_부록.ipynb',
 'D7-『4과목』-2.ipynb',
 'D8-『5과목』-1.ipynb',
 'D8-『5과목』-2.ipynb',
 'D8_『5과목』_1.ipynb',
 'D9-『5과목』-3.ipynb',
 'D9-『5과목』-4.ipynb',
 'D9-『5과목』-4.py',
 'D9-『6과목』-1.ipynb',
 'data',
 'datasets',
 'data_in',
 'data_out',
 'DNN_보충1.ipynb',
 'gan.h5',
 'gan.weights.h5',
 'gan_ex',
 'GAN_ex.ipynb',
 'gan_ex.zip',
 'gan_images',
 'gan_img_save',
 'gan_Test_img',
 'glove.6B',
 'kznchat',
 'music_card.wav',
 'my_cnn_for_deploy.h5',
 'noise_signal.wav',
 'OBS_ASOS_TIM_20240726134014.csv',
 'output.mp3',
 'path_to_preprocess_directory',
 'preparation_data.csv',
 'snd_noise.wav',
 'snd_signal.wav',
 'stts',
 'Test.py',
 'tk-ex.py',
 'trafficAccident_2020_seoul.csv',
 'transcript.txt',
 'transcript_chi.txt',
 'tree.png',
 'tree_with_path.png',
 'Untitled.ipynb',
 'weather_2020.csv',
 'wine.csv',
 'winequality-red.csv',
 'winequality-red2.csv',
 'winequality-white.csv',
 'winequality-white2.csv',
 'word.mp3',
 'yolov8n.pt',
 '개구리이미지 어플.ipynb',
 '도로교통공단_사망교통사고정보_2020.csv',
 '삼성전자_구미사업부_이연진_문제2.ipynb',
 '삼성전자_구미사업부_이연진_문제3.py',
 '소프트_맥스_함수.ipynb']

In [18]:
# 라이브러리 가져오기
import pandas as pd
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
preparation_data=pd.read_csv('preparation_data.csv')
preparation_data.head()

WARNING:tensorflow:From C:\Users\10315\AppData\Local\Temp\ipykernel_25220\3312809481.py:6: The name tf.disable_v2_behavior is deprecated. Please use tf.compat.v1.disable_v2_behavior instead.

WARNING:tensorflow:From c:\DEV\envs\py3_10_tf\lib\site-packages\tensorflow\python\compat\v2_compat.py:98: disable_resource_variables (from tensorflow.python.ops.resource_variables_toggle) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [21]:
# 데이터 나누기
numeric_data = preparation_data.select_dtypes(include=[np.number])
xy = np.array(numeric_data, dtype=np.float32)
# xy=np.array(preparation_data, dtype=np.float32)
print(xy)
x_data=xy[:, :-1]
y_data=xy[:, -1:]
print(x_data)
print(y_data)

[[-5.9  0.   1.7 40.   0.   0. ]
 [-5.7  0.   0.1 42.   0.   0. ]
 [-5.6  0.   0.  46.   0.   0. ]
 ...
 [ 0.   0.   0.   0.   0.   1. ]
 [ 0.   0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0.   2. ]]
[[-5.9  0.   1.7 40.   0. ]
 [-5.7  0.   0.1 42.   0. ]
 [-5.6  0.   0.  46.   0. ]
 ...
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]]
[[0.]
 [0.]
 [0.]
 ...
 [1.]
 [0.]
 [2.]]

In [22]:
# 학습
X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])
W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")
hypothesis=tf.matmul(X, W) + b
cost=tf.reduce_mean(tf.square(hypothesis-y))
optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train=optimizer.minimize(cost)
sess=tf.Session()
init=tf.global_variables_initializer()
sess.run(init)

WARNING:tensorflow:From C:\Users\10315\AppData\Local\Temp\ipykernel_25220\1619490664.py:8: The name tf.train.GradientDescentOptimizer is deprecated. Please use tf.compat.v1.train.GradientDescentOptimizer instead.

In [26]:
# 예측
for step in range(100000):
    cost_opti, hypo_opti, _opti=sess.run(
    [cost, hypothesis, train],
    feed_dict={X: x_data, y: y_data}
    )
    step=step+1
    if step % 500 == 0:
        print("\n step(학습 횟수) :", step, "\n cost(예측값과 실제값의 편차) :",cost_opti)
        print("# 예측되는 사망자 수 : ", hypo_opti[0])

 step(학습 횟수) : 500
 cost(예측값과 실제값의 편차) : 0.6451432
# 예측되는 사망자 수 :  [7.0485744]

 step(학습 횟수) : 1000
 cost(예측값과 실제값의 편차) : 0.6435517
# 예측되는 사망자 수 :  [7.0481453]

 step(학습 횟수) : 1500
 cost(예측값과 실제값의 편차) : 0.6419762
# 예측되는 사망자 수 :  [7.047706]

 step(학습 횟수) : 2000
 cost(예측값과 실제값의 편차) : 0.6404154
# 예측되는 사망자 수 :  [7.047258]

 step(학습 횟수) : 2500
 cost(예측값과 실제값의 편차) : 0.6388696
# 예측되는 사망자 수 :  [7.0467997]

 step(학습 횟수) : 3000
 cost(예측값과 실제값의 편차) : 0.6373399
# 예측되는 사망자 수 :  [7.0463314]

 step(학습 횟수) : 3500
 cost(예측값과 실제값의 편차) : 0.6358237
# 예측되는 사망자 수 :  [7.04588]

 step(학습 횟수) : 4000
 cost(예측값과 실제값의 편차) : 0.6343234
# 예측되는 사망자 수 :  [7.0454297]

 step(학습 횟수) : 4500
 cost(예측값과 실제값의 편차) : 0.63283867
# 예측되는 사망자 수 :  [7.04497]

 step(학습 횟수) : 5000
 cost(예측값과 실제값의 편차) : 0.6313673
# 예측되는 사망자 수 :  [7.044501]

 step(학습 횟수) : 5500
 cost(예측값과 실제값의 편차) : 0.6299113
# 예측되는 사망자 수 :  [7.044022]

 step(학습 횟수) : 6000
 cost(예측값과 실제값의 편차) : 0.6284685
# 예측되는 사망자 수 :  [7.043535]

 step(학습 횟수) : 6500
 cost(예측값과 실제값의 편차) : 0.62704086
# 예측되는 사망자 수 :  [7.0430746]

 step(학습 횟수) : 7000
 cost(예측값과 실제값의 편차) : 0.625626
# 예측되는 사망자 수 :  [7.042605]

 step(학습 횟수) : 7500
 cost(예측값과 실제값의 편차) : 0.6242263
# 예측되는 사망자 수 :  [7.042126]

 step(학습 횟수) : 8000
 cost(예측값과 실제값의 편차) : 0.6228397
# 예측되는 사망자 수 :  [7.041638]

 step(학습 횟수) : 8500
 cost(예측값과 실제값의 편차) : 0.6214668
# 예측되는 사망자 수 :  [7.0411406]

 step(학습 횟수) : 9000
 cost(예측값과 실제값의 편차) : 0.620107
# 예측되는 사망자 수 :  [7.0406404]

 step(학습 횟수) : 9500
 cost(예측값과 실제값의 편차) : 0.6187603
# 예측되는 사망자 수 :  [7.0401616]

 step(학습 횟수) : 10000
 cost(예측값과 실제값의 편차) : 0.6174266
# 예측되는 사망자 수 :  [7.0396748]

 step(학습 횟수) : 10500
 cost(예측값과 실제값의 편차) : 0.6161065
# 예측되는 사망자 수 :  [7.039178]

 step(학습 횟수) : 11000
 cost(예측값과 실제값의 편차) : 0.61480016
# 예측되는 사망자 수 :  [7.038673]

 step(학습 횟수) : 11500
 cost(예측값과 실제값의 편차) : 0.6135065
# 예측되는 사망자 수 :  [7.038158]

 step(학습 횟수) : 12000
 cost(예측값과 실제값의 편차) : 0.61222446
# 예측되는 사망자 수 :  [7.0376396]

 step(학습 횟수) : 12500
 cost(예측값과 실제값의 편차) : 0.6109556
# 예측되는 사망자 수 :  [7.0371447]

 step(학습 횟수) : 13000
 cost(예측값과 실제값의 편차) : 0.6096985
# 예측되는 사망자 수 :  [7.036641]

 step(학습 횟수) : 13500
 cost(예측값과 실제값의 편차) : 0.60845363
# 예측되는 사망자 수 :  [7.036129]

 step(학습 횟수) : 14000
 cost(예측값과 실제값의 편차) : 0.60722184
# 예측되는 사망자 수 :  [7.035608]

 step(학습 횟수) : 14500
 cost(예측값과 실제값의 편차) : 0.60600156
# 예측되는 사망자 수 :  [7.035078]

 step(학습 횟수) : 15000
 cost(예측값과 실제값의 편차) : 0.6047933
# 예측되는 사망자 수 :  [7.0345397]

 step(학습 횟수) : 15500
 cost(예측값과 실제값의 편차) : 0.6035972
# 예측되는 사망자 수 :  [7.034025]

 step(학습 횟수) : 16000
 cost(예측값과 실제값의 편차) : 0.60241276
# 예측되는 사망자 수 :  [7.033507]

 step(학습 횟수) : 16500
 cost(예측값과 실제값의 편차) : 0.60123974
# 예측되는 사망자 수 :  [7.03298]

 step(학습 횟수) : 17000
 cost(예측값과 실제값의 편차) : 0.60007745
# 예측되는 사망자 수 :  [7.032445]

 step(학습 횟수) : 17500
 cost(예측값과 실제값의 편차) : 0.59892744
# 예측되는 사망자 수 :  [7.0319014]

 step(학습 횟수) : 18000
 cost(예측값과 실제값의 편차) : 0.5977888
# 예측되는 사망자 수 :  [7.031349]

 step(학습 횟수) : 18500
 cost(예측값과 실제값의 편차) : 0.59666055
# 예측되는 사망자 수 :  [7.030804]

 step(학습 횟수) : 19000
 cost(예측값과 실제값의 편차) : 0.5955434
# 예측되는 사망자 수 :  [7.030273]

 step(학습 횟수) : 19500
 cost(예측값과 실제값의 편차) : 0.5944377
# 예측되는 사망자 수 :  [7.0297337]

 step(학습 횟수) : 20000
 cost(예측값과 실제값의 편차) : 0.59334254
# 예측되는 사망자 수 :  [7.029186]

 step(학습 횟수) : 20500
 cost(예측값과 실제값의 편차) : 0.5922574
# 예측되는 사망자 수 :  [7.02863]

 step(학습 횟수) : 21000
 cost(예측값과 실제값의 편차) : 0.59118366
# 예측되는 사망자 수 :  [7.028066]

 step(학습 횟수) : 21500
 cost(예측값과 실제값의 편차) : 0.5901205
# 예측되는 사망자 수 :  [7.027494]

 step(학습 횟수) : 22000
 cost(예측값과 실제값의 편차) : 0.5890678
# 예측되는 사망자 수 :  [7.026941]

 step(학습 횟수) : 22500
 cost(예측값과 실제값의 편차) : 0.588025
# 예측되는 사망자 수 :  [7.0263896]

 step(학습 횟수) : 23000
 cost(예측값과 실제값의 편차) : 0.5869917
# 예측되는 사망자 수 :  [7.0258307]

 step(학습 횟수) : 23500
 cost(예측값과 실제값의 편차) : 0.5859695
# 예측되는 사망자 수 :  [7.0252643]

 step(학습 횟수) : 24000
 cost(예측값과 실제값의 편차) : 0.58495706
# 예측되는 사망자 수 :  [7.0246897]

 step(학습 횟수) : 24500
 cost(예측값과 실제값의 편차) : 0.5839544
# 예측되는 사망자 수 :  [7.024107]

 step(학습 횟수) : 25000
 cost(예측값과 실제값의 편차) : 0.58296144
# 예측되는 사망자 수 :  [7.0235167]

 step(학습 횟수) : 25500
 cost(예측값과 실제값의 편차) : 0.5819781
# 예측되는 사망자 수 :  [7.0229487]

 step(학습 횟수) : 26000
 cost(예측값과 실제값의 편차) : 0.581005
# 예측되는 사망자 수 :  [7.0223804]

 step(학습 횟수) : 26500
 cost(예측값과 실제값의 편차) : 0.5800401
# 예측되는 사망자 수 :  [7.0218043]

 step(학습 횟수) : 27000
 cost(예측값과 실제값의 편차) : 0.5790851
# 예측되는 사망자 수 :  [7.02122]

 step(학습 횟수) : 27500
 cost(예측값과 실제값의 편차) : 0.5781403
# 예측되는 사망자 수 :  [7.020629]

 step(학습 횟수) : 28000
 cost(예측값과 실제값의 편차) : 0.57720405
# 예측되는 사망자 수 :  [7.02003]

 step(학습 횟수) : 28500
 cost(예측값과 실제값의 편차) : 0.57627636
# 예측되는 사망자 수 :  [7.019423]

 step(학습 횟수) : 29000
 cost(예측값과 실제값의 편차) : 0.5753586
# 예측되는 사망자 수 :  [7.018833]

 step(학습 횟수) : 29500
 cost(예측값과 실제값의 편차) : 0.57444954
# 예측되는 사망자 수 :  [7.018249]

 step(학습 횟수) : 30000
 cost(예측값과 실제값의 편차) : 0.57354844
# 예측되는 사망자 수 :  [7.017657]

 step(학습 횟수) : 30500
 cost(예측값과 실제값의 편차) : 0.57265747
# 예측되는 사망자 수 :  [7.017058]

 step(학습 횟수) : 31000
 cost(예측값과 실제값의 편차) : 0.5717747
# 예측되는 사망자 수 :  [7.016452]

 step(학습 횟수) : 31500
 cost(예측값과 실제값의 편차) : 0.57089984
# 예측되는 사망자 수 :  [7.0158377]

 step(학습 횟수) : 32000
 cost(예측값과 실제값의 편차) : 0.57003397
# 예측되는 사망자 수 :  [7.015217]

 step(학습 횟수) : 32500
 cost(예측값과 실제값의 편차) : 0.56917614
# 예측되는 사망자 수 :  [7.014596]

 step(학습 횟수) : 33000
 cost(예측값과 실제값의 편차) : 0.56832796
# 예측되는 사망자 수 :  [7.013998]

 step(학습 횟수) : 33500
 cost(예측값과 실제값의 편차) : 0.56748676
# 예측되는 사망자 수 :  [7.013392]

 step(학습 횟수) : 34000
 cost(예측값과 실제값의 편차) : 0.56665426
# 예측되는 사망자 수 :  [7.0127797]

 step(학습 횟수) : 34500
 cost(예측값과 실제값의 편차) : 0.5658297
# 예측되는 사망자 수 :  [7.0121603]

 step(학습 횟수) : 35000
 cost(예측값과 실제값의 편차) : 0.5650132
# 예측되는 사망자 수 :  [7.0115337]

 step(학습 횟수) : 35500
 cost(예측값과 실제값의 편차) : 0.56420445
# 예측되는 사망자 수 :  [7.0109]

 step(학습 횟수) : 36000
 cost(예측값과 실제값의 편차) : 0.5634041
# 예측되는 사망자 수 :  [7.010259]

 step(학습 횟수) : 36500
 cost(예측값과 실제값의 편차) : 0.5626105
# 예측되는 사망자 수 :  [7.0096292]

 step(학습 횟수) : 37000
 cost(예측값과 실제값의 편차) : 0.5618257
# 예측되는 사망자 수 :  [7.009012]

 step(학습 횟수) : 37500
 cost(예측값과 실제값의 편차) : 0.56104773
# 예측되는 사망자 수 :  [7.0083876]

 step(학습 횟수) : 38000
 cost(예측값과 실제값의 편차) : 0.56027734
# 예측되는 사망자 수 :  [7.0077567]

 step(학습 횟수) : 38500
 cost(예측값과 실제값의 편차) : 0.5595143
# 예측되는 사망자 수 :  [7.007119]

 step(학습 횟수) : 39000
 cost(예측값과 실제값의 편차) : 0.5587601
# 예측되는 사망자 수 :  [7.0064745]

 step(학습 횟수) : 39500
 cost(예측값과 실제값의 편차) : 0.5580122
# 예측되는 사망자 수 :  [7.0058227]

 step(학습 횟수) : 40000
 cost(예측값과 실제값의 편차) : 0.5572713
# 예측되는 사망자 수 :  [7.0051646]

 step(학습 횟수) : 40500
 cost(예측값과 실제값의 편차) : 0.55653757
# 예측되는 사망자 수 :  [7.004516]

 step(학습 횟수) : 41000
 cost(예측값과 실제값의 편차) : 0.5558107
# 예측되는 사망자 수 :  [7.003882]

 step(학습 횟수) : 41500
 cost(예측값과 실제값의 편차) : 0.55509186
# 예측되는 사망자 수 :  [7.003241]

 step(학습 횟수) : 42000
 cost(예측값과 실제값의 편차) : 0.55437905
# 예측되는 사망자 수 :  [7.002593]

 step(학습 횟수) : 42500
 cost(예측값과 실제값의 편차) : 0.55367357
# 예측되는 사망자 수 :  [7.00194]

 step(학습 횟수) : 43000
 cost(예측값과 실제값의 편차) : 0.55297416
# 예측되는 사망자 수 :  [7.0012794]

 step(학습 횟수) : 43500
 cost(예측값과 실제값의 편차) : 0.55228275
# 예측되는 사망자 수 :  [7.0006123]

 step(학습 횟수) : 44000
 cost(예측값과 실제값의 편차) : 0.5515977
# 예측되는 사망자 수 :  [6.9999385]

 step(학습 횟수) : 44500
 cost(예측값과 실제값의 편차) : 0.55091983
# 예측되는 사망자 수 :  [6.999261]

 step(학습 횟수) : 45000
 cost(예측값과 실제값의 편차) : 0.5502471
# 예측되는 사망자 수 :  [6.9986124]

 step(학습 횟수) : 45500
 cost(예측값과 실제값의 편차) : 0.5495812
# 예측되는 사망자 수 :  [6.9979568]

 step(학습 횟수) : 46000
 cost(예측값과 실제값의 편차) : 0.5489232
# 예측되는 사망자 수 :  [6.997295]

 step(학습 횟수) : 46500
 cost(예측값과 실제값의 편차) : 0.54826975
# 예측되는 사망자 수 :  [6.9966273]

 step(학습 횟수) : 47000
 cost(예측값과 실제값의 편차) : 0.5476239
# 예측되는 사망자 수 :  [6.995953]

 step(학습 횟수) : 47500
 cost(예측값과 실제값의 편차) : 0.54698265
# 예측되는 사망자 수 :  [6.995272]

 step(학습 횟수) : 48000
 cost(예측값과 실제값의 편차) : 0.54634947
# 예측되는 사망자 수 :  [6.9945855]

 step(학습 횟수) : 48500
 cost(예측값과 실제값의 편차) : 0.54572123
# 예측되는 사망자 수 :  [6.9938927]

 step(학습 횟수) : 49000
 cost(예측값과 실제값의 편차) : 0.5450991
# 예측되는 사망자 수 :  [6.993206]

 step(학습 횟수) : 49500
 cost(예측값과 실제값의 편차) : 0.5444831
# 예측되는 사망자 수 :  [6.9925385]

 step(학습 횟수) : 50000
 cost(예측값과 실제값의 편차) : 0.5438737
# 예측되는 사망자 수 :  [6.991864]

 step(학습 횟수) : 50500
 cost(예측값과 실제값의 편차) : 0.5432697
# 예측되는 사망자 수 :  [6.991184]

 step(학습 횟수) : 51000
 cost(예측값과 실제값의 편차) : 0.5426714
# 예측되는 사망자 수 :  [6.990498]

 step(학습 횟수) : 51500
 cost(예측값과 실제값의 편차) : 0.5420786
# 예측되는 사망자 수 :  [6.9898057]

 step(학습 횟수) : 52000
 cost(예측값과 실제값의 편차) : 0.5414923
# 예측되는 사망자 수 :  [6.9891086]

 step(학습 횟수) : 52500
 cost(예측값과 실제값의 편차) : 0.54091054
# 예측되는 사망자 수 :  [6.9884043]

 step(학습 횟수) : 53000
 cost(예측값과 실제값의 편차) : 0.540335
# 예측되는 사망자 수 :  [6.9876943]

 step(학습 횟수) : 53500
 cost(예측값과 실제값의 편차) : 0.5397649
# 예측되는 사망자 수 :  [6.986986]

 step(학습 횟수) : 54000
 cost(예측값과 실제값의 편차) : 0.53920096
# 예측되는 사망자 수 :  [6.9863014]

 step(학습 횟수) : 54500
 cost(예측값과 실제값의 편차) : 0.5386414
# 예측되는 사망자 수 :  [6.9856114]

 step(학습 횟수) : 55000
 cost(예측값과 실제값의 편차) : 0.5380876
# 예측되는 사망자 수 :  [6.9849153]

 step(학습 횟수) : 55500
 cost(예측값과 실제값의 편차) : 0.53754026
# 예측되는 사망자 수 :  [6.9842143]

 step(학습 횟수) : 56000
 cost(예측값과 실제값의 편차) : 0.5369966
# 예측되는 사망자 수 :  [6.983506]

 step(학습 횟수) : 56500
 cost(예측값과 실제값의 편차) : 0.53645957
# 예측되는 사망자 수 :  [6.982794]

 step(학습 횟수) : 57000
 cost(예측값과 실제값의 편차) : 0.53592634
# 예측되는 사망자 수 :  [6.9820743]

 step(학습 횟수) : 57500
 cost(예측값과 실제값의 편차) : 0.5353985
# 예측되는 사망자 수 :  [6.9813504]

 step(학습 횟수) : 58000
 cost(예측값과 실제값의 편차) : 0.5348754
# 예측되는 사망자 수 :  [6.98062]

 step(학습 횟수) : 58500
 cost(예측값과 실제값의 편차) : 0.53435844
# 예측되는 사망자 수 :  [6.979908]

 step(학습 횟수) : 59000
 cost(예측값과 실제값의 편차) : 0.5338457
# 예측되는 사망자 수 :  [6.9792037]

 step(학습 횟수) : 59500
 cost(예측값과 실제값의 편차) : 0.5333382
# 예측되는 사망자 수 :  [6.9784946]

 step(학습 횟수) : 60000
 cost(예측값과 실제값의 편차) : 0.53283465
# 예측되는 사망자 수 :  [6.9777803]

 step(학습 횟수) : 60500
 cost(예측값과 실제값의 편차) : 0.5323377
# 예측되는 사망자 수 :  [6.9770594]

 step(학습 횟수) : 61000
 cost(예측값과 실제값의 편차) : 0.53184426
# 예측되는 사망자 수 :  [6.9763336]

 step(학습 횟수) : 61500
 cost(예측값과 실제값의 편차) : 0.53135556
# 예측되는 사망자 수 :  [6.975602]

 step(학습 횟수) : 62000
 cost(예측값과 실제값의 편차) : 0.53087187
# 예측되는 사망자 수 :  [6.9748664]

 step(학습 횟수) : 62500
 cost(예측값과 실제값의 편차) : 0.5303925
# 예측되는 사망자 수 :  [6.974123]

 step(학습 횟수) : 63000
 cost(예측값과 실제값의 편차) : 0.52991843
# 예측되는 사망자 수 :  [6.973376]

 step(학습 횟수) : 63500
 cost(예측값과 실제값의 편차) : 0.52944803
# 예측되는 사망자 수 :  [6.9726453]

 step(학습 횟수) : 64000
 cost(예측값과 실제값의 편차) : 0.52898264
# 예측되는 사망자 수 :  [6.971924]

 step(학습 횟수) : 64500
 cost(예측값과 실제값의 편차) : 0.52852136
# 예측되는 사망자 수 :  [6.971197]

 step(학습 횟수) : 65000
 cost(예측값과 실제값의 편차) : 0.5280643
# 예측되는 사망자 수 :  [6.9704666]

 step(학습 횟수) : 65500
 cost(예측값과 실제값의 편차) : 0.52761275
# 예측되는 사망자 수 :  [6.9697304]

 step(학습 횟수) : 66000
 cost(예측값과 실제값의 편차) : 0.52716494
# 예측되는 사망자 수 :  [6.9689884]

 step(학습 횟수) : 66500
 cost(예측값과 실제값의 편차) : 0.5267207
# 예측되는 사망자 수 :  [6.9682417]

 step(학습 횟수) : 67000
 cost(예측값과 실제값의 편차) : 0.52628094
# 예측되는 사망자 수 :  [6.96749]

 step(학습 횟수) : 67500
 cost(예측값과 실제값의 편차) : 0.52584636
# 예측되는 사망자 수 :  [6.9667325]

 step(학습 횟수) : 68000
 cost(예측값과 실제값의 편차) : 0.525415
# 예측되는 사망자 수 :  [6.9659705]

 step(학습 횟수) : 68500
 cost(예측값과 실제값의 편차) : 0.524987
# 예측되는 사망자 수 :  [6.9652042]

 step(학습 횟수) : 69000
 cost(예측값과 실제값의 편차) : 0.5245651
# 예측되는 사망자 수 :  [6.964467]

 step(학습 횟수) : 69500
 cost(예측값과 실제값의 편차) : 0.52414584
# 예측되는 사망자 수 :  [6.963727]

 step(학습 횟수) : 70000
 cost(예측값과 실제값의 편차) : 0.5237307
# 예측되는 사망자 수 :  [6.9629836]

 step(학습 횟수) : 70500
 cost(예측값과 실제값의 편차) : 0.5233197
# 예측되는 사망자 수 :  [6.9622326]

 step(학습 횟수) : 71000
 cost(예측값과 실제값의 편차) : 0.522912
# 예측되는 사망자 수 :  [6.9614778]

 step(학습 횟수) : 71500
 cost(예측값과 실제값의 편차) : 0.52250886
# 예측되는 사망자 수 :  [6.960719]

 step(학습 횟수) : 72000
 cost(예측값과 실제값의 편차) : 0.52211004
# 예측되는 사망자 수 :  [6.959953]

 step(학습 횟수) : 72500
 cost(예측값과 실제값의 편차) : 0.52171475
# 예측되는 사망자 수 :  [6.959184]

 step(학습 횟수) : 73000
 cost(예측값과 실제값의 편차) : 0.52132255
# 예측되는 사망자 수 :  [6.9584103]

 step(학습 횟수) : 73500
 cost(예측값과 실제값의 편차) : 0.52093416
# 예측되는 사망자 수 :  [6.95763]

 step(학습 횟수) : 74000
 cost(예측값과 실제값의 편차) : 0.5205493
# 예측되는 사망자 수 :  [6.956846]

 step(학습 횟수) : 74500
 cost(예측값과 실제값의 편차) : 0.5201687
# 예측되는 사망자 수 :  [6.956089]

 step(학습 횟수) : 75000
 cost(예측값과 실제값의 편차) : 0.51979154
# 예측되는 사망자 수 :  [6.955332]

 step(학습 횟수) : 75500
 cost(예측값과 실제값의 편차) : 0.51941746
# 예측되는 사망자 수 :  [6.9545717]

 step(학습 횟수) : 76000
 cost(예측값과 실제값의 편차) : 0.5190478
# 예측되는 사망자 수 :  [6.953806]

 step(학습 횟수) : 76500
 cost(예측값과 실제값의 편차) : 0.5186814
# 예측되는 사망자 수 :  [6.9530354]

 step(학습 횟수) : 77000
 cost(예측값과 실제값의 편차) : 0.51831776
# 예측되는 사망자 수 :  [6.9522614]

 step(학습 횟수) : 77500
 cost(예측값과 실제값의 편차) : 0.5179586
# 예측되는 사망자 수 :  [6.951481]

 step(학습 횟수) : 78000
 cost(예측값과 실제값의 편차) : 0.5176021
# 예측되는 사망자 수 :  [6.950697]

 step(학습 횟수) : 78500
 cost(예측값과 실제값의 편차) : 0.5172491
# 예측되는 사망자 수 :  [6.9499087]

 step(학습 횟수) : 79000
 cost(예측값과 실제값의 편차) : 0.51689947
# 예측되는 사망자 수 :  [6.9491143]

 step(학습 횟수) : 79500
 cost(예측값과 실제값의 편차) : 0.51655275
# 예측되는 사망자 수 :  [6.948318]

 step(학습 횟수) : 80000
 cost(예측값과 실제값의 편차) : 0.5162096
# 예측되는 사망자 수 :  [6.9475145]

 step(학습 횟수) : 80500
 cost(예측값과 실제값의 편차) : 0.5158703
# 예측되는 사망자 수 :  [6.946745]

 step(학습 횟수) : 81000
 cost(예측값과 실제값의 편차) : 0.51553375
# 예측되는 사망자 수 :  [6.9459715]

 step(학습 횟수) : 81500
 cost(예측값과 실제값의 편차) : 0.5152001
# 예측되는 사망자 수 :  [6.945192]

 step(학습 횟수) : 82000
 cost(예측값과 실제값의 편차) : 0.51486933
# 예측되는 사망자 수 :  [6.9444103]

 step(학습 횟수) : 82500
 cost(예측값과 실제값의 편차) : 0.5145429
# 예측되는 사망자 수 :  [6.9436216]

 step(학습 횟수) : 83000
 cost(예측값과 실제값의 편차) : 0.5142183
# 예측되는 사망자 수 :  [6.942831]

 step(학습 횟수) : 83500
 cost(예측값과 실제값의 편차) : 0.5138974
# 예측되는 사망자 수 :  [6.942035]

 step(학습 횟수) : 84000
 cost(예측값과 실제값의 편차) : 0.51357937
# 예측되는 사망자 수 :  [6.941234]

 step(학습 횟수) : 84500
 cost(예측값과 실제값의 편차) : 0.5132631
# 예측되는 사망자 수 :  [6.9404306]

 step(학습 횟수) : 85000
 cost(예측값과 실제값의 편차) : 0.5129522
# 예측되는 사망자 수 :  [6.9396205]

 step(학습 횟수) : 85500
 cost(예측값과 실제값의 편차) : 0.51264244
# 예측되는 사망자 수 :  [6.938808]

 step(학습 횟수) : 86000
 cost(예측값과 실제값의 편차) : 0.5123359
# 예측되는 사망자 수 :  [6.9379897]

 step(학습 횟수) : 86500
 cost(예측값과 실제값의 편차) : 0.51203287
# 예측되는 사망자 수 :  [6.9371834]

 step(학습 횟수) : 87000
 cost(예측값과 실제값의 편차) : 0.5117325
# 예측되는 사망자 수 :  [6.936395]

 step(학습 횟수) : 87500
 cost(예측값과 실제값의 편차) : 0.51143456
# 예측되는 사망자 수 :  [6.9356017]

 step(학습 횟수) : 88000
 cost(예측값과 실제값의 편차) : 0.51113933
# 예측되는 사망자 수 :  [6.934806]

 step(학습 횟수) : 88500
 cost(예측값과 실제값의 편차) : 0.5108471
# 예측되는 사망자 수 :  [6.934004]

 step(학습 횟수) : 89000
 cost(예측값과 실제값의 편차) : 0.51055735
# 예측되는 사망자 수 :  [6.9331994]

 step(학습 횟수) : 89500
 cost(예측값과 실제값의 편차) : 0.5102708
# 예측되는 사망자 수 :  [6.932389]

 step(학습 횟수) : 90000
 cost(예측값과 실제값의 편차) : 0.50998646
# 예측되는 사망자 수 :  [6.9315763]

 step(학습 횟수) : 90500
 cost(예측값과 실제값의 편차) : 0.5097052
# 예측되는 사망자 수 :  [6.9307585]

 step(학습 횟수) : 91000
 cost(예측값과 실제값의 편차) : 0.5094263
# 예측되는 사망자 수 :  [6.929937]

 step(학습 횟수) : 91500
 cost(예측값과 실제값의 편차) : 0.50915027
# 예측되는 사망자 수 :  [6.9291115]

 step(학습 횟수) : 92000
 cost(예측값과 실제값의 편차) : 0.50887656
# 예측되는 사망자 수 :  [6.9282813]

 step(학습 횟수) : 92500
 cost(예측값과 실제값의 편차) : 0.5086047
# 예측되는 사망자 수 :  [6.9274487]

 step(학습 횟수) : 93000
 cost(예측값과 실제값의 편차) : 0.5083368
# 예측되는 사망자 수 :  [6.9266105]

 step(학습 횟수) : 93500
 cost(예측값과 실제값의 편차) : 0.50807047
# 예측되는 사망자 수 :  [6.9258075]

 step(학습 횟수) : 94000
 cost(예측값과 실제값의 편차) : 0.50780696
# 예측되는 사망자 수 :  [6.9249983]

 step(학습 횟수) : 94500
 cost(예측값과 실제값의 편차) : 0.5075452
# 예측되는 사망자 수 :  [6.924188]

 step(학습 횟수) : 95000
 cost(예측값과 실제값의 편차) : 0.5072877
# 예측되는 사망자 수 :  [6.9233704]

 step(학습 횟수) : 95500
 cost(예측값과 실제값의 편차) : 0.50702953
# 예측되는 사망자 수 :  [6.922552]

 step(학습 횟수) : 96000
 cost(예측값과 실제값의 편차) : 0.5067762
# 예측되는 사망자 수 :  [6.921727]

 step(학습 횟수) : 96500
 cost(예측값과 실제값의 편차) : 0.5065248
# 예측되는 사망자 수 :  [6.920902]

 step(학습 횟수) : 97000
 cost(예측값과 실제값의 편차) : 0.5062755
# 예측되는 사망자 수 :  [6.9200683]

 step(학습 횟수) : 97500
 cost(예측값과 실제값의 편차) : 0.5060273
# 예측되는 사망자 수 :  [6.919235]

 step(학습 횟수) : 98000
 cost(예측값과 실제값의 편차) : 0.5057838
# 예측되는 사망자 수 :  [6.9183946]

 step(학습 횟수) : 98500
 cost(예측값과 실제값의 편차) : 0.5055405
# 예측되는 사망자 수 :  [6.917554]

 step(학습 횟수) : 99000
 cost(예측값과 실제값의 편차) : 0.505301
# 예측되는 사망자 수 :  [6.916706]

 step(학습 횟수) : 99500
 cost(예측값과 실제값의 편차) : 0.50506264
# 예측되는 사망자 수 :  [6.915858]

 step(학습 횟수) : 100000
 cost(예측값과 실제값의 편차) : 0.5048271
# 예측되는 사망자 수 :  [6.915003]

In [27]:
# 학습 모델 저장
saver=tf.train.Saver()
save_path=saver.save(sess, "./model/model.ckpt")
print("\n ##### 학습된 모델을 저장하였습니다. #####")

 ##### 학습된 모델을 저장하였습니다. #####

In [28]:
# 서비스하기
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
tf.reset_default_graph()
X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])
W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")
hypothesis=tf.matmul(X, W) + b
saver=tf.train.Saver()
init=tf.global_variables_initializer()

In [29]:
temp=float(input('온 도 : '))
rain=float(input('강수량 : '))
windflow=float(input('풍 속 : '))
humidity=float(input('습 도 : '))
snowfall=float(input('적 설 : '))

온 도 :  15
강수량 :  30
풍 속 :  20
습 도 :  50
적 설 :  0

In [30]:
with tf.Session() as sess:
    sess.run(init)
    save_path="./model/model.ckpt"
    saver.restore(sess, save_path)
    data=((temp, rain, windflow, humidity, snowfall),)
    arr=np.array(data, dtype=np.float32)
    x_data=arr[:]
    dict=sess.run(hypothesis, feed_dict={X: x_data})
    print(dict[0])

INFO:tensorflow:Restoring parameters from ./model/model.ckpt
[-139.17816]